#navbar{
    display: flex;
    background-color: yellow;
    border-radius: 10px;
    justify-content: space-around;
  }
  #length{
    color: blue;
    font-size: 30px;
    font-weight: 900;
    
  }
  #addstud{
        background-color: aqua;
}
  #button{
    margin-top: 25px;
  }
  table,
    td,
   th {
     border: 1px solid #ddd;
     text-align: left;
     font-weight: 900;
   }

   table {
     border-collapse: collapse;
     width: 70%;
     margin: auto;
     margin-top: 50px;
   }

   th,
   td {
     padding: 15px;
   }

   tr > th {
     background-color:red;
     color: white;
     
   }
   