* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(248, 246, 246);
  }
  #navbar{
    display: flex;
    background-color: yellow;
    border-radius: 10px;
    justify-content: space-around;
    padding: 20px;
  }
  #length{
    color: blue;
    font-size: 30px;
    
  }
  
  #links {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
  }
  
  #links > div {
    display: flex;
    list-style: none;
  }
  #links a {
    text-decoration: none;
    color: teal;
    font-size: 30px;
  }
          input,
  select {
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
  }
  option {
    font-size: 25px;
  }
  h1{
      text-align: center;
      color: red;
  }
  form {
    width: 400px;
    border: 1px solid rgb(230, 230, 230);
    margin: 3% auto;
    padding: 3%;
    background:rgb(44, 178, 250);
  }
  #add {
    width: 70%;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
  }
  button{
      width: 100px;
      height: 50px;
      background-color: rgb(48, 215, 220);
      border: none;
      border-radius: 10px;
      color: black;
      font-weight: 900;
  }